#FD1 {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    /* padding: 20px; */
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 16px;
}
#FD1:hover{
    cursor: pointer;
    background-color: #F7F7F7;
}
    
#FIIMG1{
    border-radius: 100px;
    width: 50px;
    height: 50px;

}

#FD2{
    display: flex;
    flex-direction: row;
    width: 100%;

}

#NF1{
    font-weight: 500;
    padding-left: 15px;
}

#FD3{
    display: flex;
    flex-direction: row;
    align-items: start;
}
#IDF1{
    padding-left: 16px;
    color: #747474;
}

#FD4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

#PFD1{
    padding-left: 16px;
    padding-bottom: 15px;
}

#SFIIMG2{
    padding-left: 19px;
    width: 60%;
    border-radius: 0px;
}

#MainFeed{
    margin-bottom: 90px;
}
#ICF1{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 12px;
    width: 100%;
}

#ICFD1{
    transition: all 0.2s ease;
    padding: 10px;
    border-radius: 50px;
}
#ICFD2{
    transition: all 0.2s ease;
    padding: 10px;
    border-radius: 50px;
    
}
#ICFD3{
    transition: all 0.2s ease;
    padding: 10px;
    border-radius: 50px;
}
#ICFD4{
    transition: all 0.2s ease;
    padding: 10px;
    border-radius: 50px;
}
#ICFD5{
    transition: all 0.2s ease;
    padding: 10px;
    border-radius: 50px;
}


#ICFD1:hover{
    cursor: pointer;
    color: #1e96e7;
    background-color: #E1EEF6;
    
}
#ICFD2:hover{
    cursor: pointer;
    color: #39C899;
    background-color: #DCF1EA;
}
#ICFD3:hover{
    cursor: pointer;
    color: #F91E83;
    background-color: #F7E0EB;
}
#ICFD4:hover{
    cursor: pointer;
    color: #1D9BF0;
    background-color: #E1EEF6;
}
#ICFD5:hover{
    cursor: pointer;
    color: #1D9BF0;
    background-color: #E1EEF6;
}